#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bunphoto {
  width: 300px;
  display: block;
  margin: 1rem auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em
}